* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container{
  height: 350px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 10px 20px;
}
.container h1{
  position: relative;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: #5f9ea0;
  padding-bottom: 3px;
  margin-bottom: 10px;
}
.container h1::before{
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #5f9ea0;
}
p{
  padding: 5px 0;
  color: #555;
  font-size: 13px;
}
input{
  width: 100%;
  padding: 7px 3px;
}
.btn{
  display: inline-block;
  width: 100%;
  text-align: center;
  background: #5f9ea0;
  padding: 7px 0;
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
}